/* The place for global styles */
body {
    background-color: #121212;
    margin: 0px;
    color:aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    margin:10px;
}